<% if @gb_object %>

  <div id="attributes">
    <div class="left">
      Foo:<br>
      Bar:<br>
      Quux:<br>
    </div>

    <div class="right">
      bouncy<br>
      rubbery<br>
      weird<br>
    </div>
  </div>

<% end %>