<style type="text/css">
#covers {margin:0px 0px 0px 0px; width:600px; }
.cover_thumbs {list-style-type:none; }
.cover_thumbs li {width:90px; height:75px; float:left; padding-right:2px; margin-bottom:15px; }
.cover_thumbs li.ender {width:1px; height:1px; float:none; clear:both;  margin:0px; }
.cover_thumbs a { font-size:11px; }
.cover_thumbs img { border:solid 1px gray; }
#covers li.owned span { width:16px; height: 16px; margin-top:-16px; display:block; position:relative; top:10px; left:-5px; background: url(/images/star.png) no-repeat; }
</style>

<div id="content-heading">
	<h1><%= @heading %></h1>
</div>

<div class="content-bar">
	<div id="filter">Filter</div>
	<div id="pagination-top" class="pagination">
		<a href="#">&lt;-- pagination</a> <a href="#">street --&gt;</a> 1-20 of 400
	</div>
</div>

<div id="covers" >
  <ul class="cover_thumbs" >
    
    <!-- put a star on owned games -->
    <% @loves.each do |love| %>
    <% if love.owned %><li class="owned"><span></span>
    <% else %><li>
    <% end %>
       <%= link_to art_icon(love), love_url(love) %>
    </li>
    <% end %>
  </ul>
  
  <br style="clear:both;" />
</div>


<div class="content-bar">
	<div id="pagination-bottom" class="pagination">
		<a href="#">&lt;-- pagination</a> <a href="#">street --&gt;</a> 1-20 of 400
		<span></span>
	</div>
</div>
